<h1 style="text-align: center;"><%= @page_title %></h1>
<hr>
<br>
<br>

<% @list.each_with_index do |item, index| %>
  <h2><%= item[:activity_name] %></h2>
  <hr>
  <p><%= item[:activity_description] %></p>
  <a href="http://localhost:9292/list/<%=index%>">View</a>
  <a href="http://localhost:9292/list/<%=index%>/edit">Edit</a>
  <form action="/list/<%= index %>" method="POST"> 
      <input type="hidden" name="_method" value="DELETE"> 
     <!--  <a href="" name="Delete">Delete</a> -->
      <!-- Link Doesn't work, has to be a button -->
      <input type="submit" name="Delete"> 
  </form>
  
<% end %>
